@keyframes breathe {
  0%,
  100% {
    border-width: 2px;
  }
  50% {
    border-width: 4px;
  }
}

@keyframes error-breathe-inset {
  0%,
  100% {
    box-shadow: inset 0 0 0 1px;
  }
  50% {
    box-shadow: inset 0 0 0 2px;
  }
}
