button {
  color: var(--color-dull-navy);
  user-select: none;
}

button:hover {
  cursor: pointer !important;
}

button:hover {
  opacity: 0.75;
}

button:focus {
  outline-color: var(--color-pink);
}

button.close {
  position: absolute;
  display: flex;
  top: 0;
  right: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 12px;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

button.close i {
  font-size: var(--font-size-sm);
  line-height: 1;
  color: var(--color-med-navy);
}

button.generate {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  gap: 12px;
  width: 100%;
  width: -webkit-fill-available;
  height: 48px;
  /* background: var(--color-pink); */
  background-image: linear-gradient(45deg, #e53d8f, #e53de3);
  border: none;
  color: var(--color-white);
  font-family: 'League Spartan', sans-serif;
  font-size: var(--font-size-md);
  letter-spacing: 1px;
  cursor: pointer;
  border-radius: 8px;
}

button.generate:focus {
  outline-color: var(--color-navy);
}

.generate:focus {
  border: none !important;
}

button.delete-field-button {
  color: var(--color-med-navy);
}

.field-group:hover .delete-field-button {
  display: block;
}

.content-actions button.icon {
  display: flex;
  border: 1px solid var(--color-light-navy);
  border-radius: 8px;
  width: 32px;
  height: 32px;
  /* opacity: 0.5; */
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.action-items button {
  border: 1px solid var(--color-light-navy);
  border-radius: 8px;
}

.action-items button.icon,
.add-new-field button.icon,
.new-field-modal button.icon {
  display: flex;
  height: 32px;
  width: 32px;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

button.copy-button {
  color: var(--color-white);
}

.modal-close-btn {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  color: var(--color-dark-navy);
  text-decoration: none;
  cursor: pointer;
}
