label,
.label {
  font-weight: 600;
  width: 100%;
  user-select: none;
  margin-bottom: 0;
}

select {
  height: 32px;
  padding: 3px 3px 1px;
  font-family: 'League Spartan', sans-serif;
  font-size: var(--base-font-size);
  color: var(--color-navy);
  border: 1px solid var(--color-light-navy);
  border-radius: 8px;
  background-color: var(--color-dull-white);
}

body.dark select {
  background-color: var(--color-ultra-dark-navy);
  border-color: var(--color-dull-navy);
  color: var(--color-white);
}

.form-field {
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 100%;
}

.panel-body .form-group {
  gap: 12px;
}

.panel-body label {
  font-weight: 400;
}

input[type='text'],
input[type='number'],
input[type='email'],
input[type='password'],
input[type='time'],
input[type='date'],
input[type='datetime-local'],
input[type='month'],
input[type='week'],
input[type='tel'],
input[type='url'],
input[type='search'],
input[type='color'] {
  width: 100%;
  width: -webkit-fill-available !important;
  height: 26px;
  padding: 3px 8px 1px;
  font-family: 'League Spartan', sans-serif;
  font-size: var(--base-font-size);
  color: var(--color-navy);
  border: 1px solid var(--color-light-navy);
  border-radius: 8px;
  background-color: var(--color-ultra-light-navy);
}

input[type='file'] {
  width: 100%;
  width: -webkit-fill-available;
  font-family: 'League Spartan', sans-serif;
  font-size: var(--font-size-sm);
  color: var(--color-navy);
  background-color: var(--color-ultra-light-navy);
  cursor: pointer;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 0s 600000s, color 0s 600000s !important;
}

textarea,
input[type='textarea'],
.form-textarea {
  width: 100% !important;
  width: -webkit-fill-available !important;
  /* height: 82px; */
  /* min-height: 48px; */
  padding: 8px;
  font-family: 'League Spartan', sans-serif;
  font-size: var(--base-font-size);
  color: var(--color-navy);
  border: 1px solid var(--color-light-navy);
  line-height: 150%;
  background-color: var(--color-ultra-light-navy);
  border-radius: 8px;
  resize: vertical;
}

/* *:focus {
  outline-color: var(--color-pink);
} */

*::placeholder {
  color: var(--color-light-navy);
  opacity: 1;
}

/* THIS WONT WORK TIL BROWSER SUPPORT CATCHES UP */
*::spelling-error,
*::grammar-error,
*::marker {
  text-decoration: underline wavy var(--color-pink);
  text-decoration-color: var(--color-pink);
  color: var(--color-pink);
}

.form-group select {
  color: var(--color-dull-white);
  background-color: var(--color-ultra-dark-navy);
  border-color: var(--color-dull-navy);
}

input[type='text']:focus,
input[type='password']:focus,
input[type='number']:focus,
textarea:focus,
select:focus {
  outline: none !important;
  border: 1px solid var(--color-pink) !important;
  /* outline: 1px solid var(--color-pink) !important;
  border: none !important; */
}

input::placeholder,
textarea::placeholder {
  color: var(--color-med-navy);
  opacity: 0.5;
}

input[type='text'],
input[type='number'],
input[type='textarea'],
textarea,
.form-textarea {
  color: var(--color-dull-white);
  background-color: var(--color-black-navy);
  border-color: var(--color-dull-navy);
}

.form-group select option {
  background-color: var(--color-ultra-dark-navy) !important;
  border: 1px solid var(--color-dull-navy) !important;
  border-top: none !important;
  position: relative;
  display: flex;
  width: auto;
  padding: 0 8px;
  color: var(--color-white);
  cursor: pointer;
  height: 31px;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: flex-start;
  text-wrap: nowrap;
  overflow-x: hidden;
}

input[type='time'] {
  font-weight: 300;
  color: var(--color-dull-white);
  background-color: var(--color-dull-navy);
  border-color: var(--color-dull-navy);
}
